/* Navigation Bar */

.navbar{
    padding: 0.5% 10% 4% 10%;
    background-color: white;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}
.nav-item {
    padding: 0 18px;
}
.nav-item:hover {
    text-decoration: underline;
    padding: 0 18px;
}
.nav-link {
    font-size:1.2rem;
}
.ssi-logo {
    width: 250px;
}

.navb1 {
    padding: 0.5% 10% 0.5% 10%;
    background-color: white;
}

/* Background */

.background-img {
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    width: 80%;
    height: 82%;
    opacity: 0.8;
    z-index: 1;
}

/* Carousel text */

.welcome {
    margin: 5% auto 55px 14%;
    color: black;
    position: absolute;
    width: 300px;
    text-align: left;
    z-index: 2;
}
.welcome-to-ssi{
    text-decoration: italic;
    font-family: 'Pridi', serif;
}
.contact-us-link {
    color: black;
    text-decoration: underline;
}
.contact-us-link:hover {
    color: black;
    text-decoration: none;
}



/* Carousel text

.welcome {
    margin: 5% auto auto 7%;
    color: black;
    position: absolute;
    width: 300px;
    text-align: left;
    z-index: 2;
}
.welcome-to-ssi{
    text-decoration: italic;
    font-family: 'Pridi', serif;
}
.contact-us-link {
    color: black;
    text-decoration: underline;
}
.contact-us-link:hover {
    color: black;
    text-decoration: none;
} */

/* Carousel */

/* .background-imgs {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
}
.carousel-item {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 610px;
} */

/* Carousel-transition  */

/* .carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
} */


/* Container fluid */

.container-fluid {
    padding: 1% 27% 0 10%;
    margin-bottom: 100px;
}


/* Footer Navbar */

.footernavbar {
    background-color: white;
    text-align: center;
    overflow: hidden;
    position: fixed;       
    bottom: 0;
    width: 100%;
    padding: 0.5;
    z-index: 5;
}
.dealers {
    width: 10%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.dealers:hover{
    padding: 0;
    width: 12%;
}


/* About Us */

.profile { 
    line-height: 2;
}

.history {
    line-height: 2;
}


/* Products */

#products {
    text-align: center;
    padding: 1% 15% 100px 15%;
}
.product-dealer {
    width: 100%;
    background-color: red;
    padding: 1%;
    margin: 7% 2% 3% 0;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.product-dealer1 {
    width: 100%;
    background-color: red;
    padding: 1%;
    margin: 3% 2% 3% 0;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.product-name{
    font-size: 18px;
}
.card {
    font-size: 18px;
    width: 300px;
    height: 300px;
    margin: 0 auto 1.5em auto;
}
.product-img {
    max-width: 220px;
    max-height: 220px;
}

.card-header{
    padding-bottom: 0;
}


/* Dealers */

.dealer-name{
    width: 500px;
}
.dealer-number {
    width: 250px;
    padding-left: 2%;
    padding-right: 2%;
}
.dealer-address {
    width: 600px;
}

.province {
    font-style: bold;
    font-size: 30px;
    padding: 4% 2% 2% 3%;
}
.dealers-page{
    margin-bottom: 5%;
}


/* Elmer */

.message-link {
    line-height: 2;
    color: grey;
    text-decoration: underline;
}
.message-link:hover {
    color: #393e46;
    text-decoration: none;
}
.click-here-link {
    color: black;
    text-decoration: underline;
}
.click-here-link:hover {
    color: black;
    text-decoration: none;
}
.elmer-cont {
    position: absolute;
    right: 10%;
}
.elmer-img-1{
    right: 26%;
    width: 500px;
    height: 250px;
}
.elmer-img-2{
    width: 200px;
    height: 300px;
}
.elmer-video{
    top: 600px;
    width: 420px; 
    height: 250px;
    border-radius: 7%;
}
.view-elmer-text{
    top: 600px;
    position: absolute;
    right: 41%;
}
.message-container {
    border: 5px solid;
    left: 10%;
    right: 10%;
    top: 20%;  
    bottom: 20%; 
    background-color: #fff;
    width: 80%;
    height: 60%;
    z-index: 2;
    padding: 3%;
    position: fixed;
}
.hidden {
    display: none;
}
.overlay {
    opacity: 0.6;
    width: 140%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.fa-times-circle {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.container-fluid {
    padding: 1% 27% 0 10%;
    margin-bottom: 0;}


/* Contact Us */

#contact {
    margin-bottom: 80px;
}
td {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 2em;
    padding-right: 2em;
}

.info {
    padding-left: 20%;
}
